@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic|Poiret+One);

/* --------------------------------

Primary style

-------------------------------- */

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "poiret one", cursive;
    color: #f00;
    background-color: #ffcc11;
    background-image: url(css/images/back.jpg);
}
a {
    text-decoration: none;
}
.cd-title {
    position: relative;
    height: 160px;
    line-height: 230px;
    text-align: center;
}
.cd-title h1 {
    font-size: 2.4rem;
    font-weight: 700;
}
@media only screen and (min-width: 768px) {
    .cd-title {
        line-height: 250px;
    }
}
@media only screen and (min-width: 1170px) {
    .cd-title {
        height: 200px;
        line-height: 300px;
    }
    .cd-title h1 {
        font-size: 3rem;
    }
}
.cd-intro {
    width: 90%;
    max-width: 768px;
    text-align: center;
}
.cd-intro {
    margin: 4em auto;
}
@media only screen and (min-width: 768px) {
    .cd-intro {
        margin: 5em auto;
    }
}
@media only screen and (min-width: 1170px) {
    .cd-intro {
        margin: 6em auto;
    }
}
.cd-headline {
    font-size: 3rem;
    line-height: 1.2;
}
@media only screen and (min-width: 768px) {
    .cd-headline {
        font-size: 4.4rem;
        font-weight: 300;
    }
}
@media only screen and (min-width: 1170px) {
    .cd-headline {
        font-size: 6rem;
    }
}
.cd-words-wrapper {
    display: inline-block;
    position: relative;
    text-align: left;
}
.cd-words-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0;
}
.cd-words-wrapper b.is-visible {
    position: relative;
}
.no-js .cd-words-wrapper b {
    opacity: 0;
}
.no-js .cd-words-wrapper b.is-visible {
    opacity: 1;
}

/* --------------------------------

xclip
-------------------------------*/

.cd-headline.clip span {
    display: inline-block;
    padding: .2em 0;
}
.cd-headline.clip .cd-words-wrapper {
    overflow: hidden;
    vertical-align: top;
}
.cd-headline.clip .cd-words-wrapper::after {
    /* line */
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background-color: #aebcb9;
}
.cd-headline.clip b {
    opacity: 0;
}
.cd-headline.clip b.is-visible {
    opacity: 1;
}

/*
===================
Grid
==================
*/

.grid {
    margin: 0 auto;
    width: 960px;
    color: #f00;
    background-color: #ffcc11;
    font-family: "poiret one", cursive;
}
.grid,
.col-1-3,
.col-2-3 {
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}
.col-1-3,
.col-2-3 {
    display: inline-block;
    vertical-align: top;
}
.col-1-3 {
    width: 33.33%;
}
.col-2-3 {
    width: 66.66%;
}

/*
====================
Clearfix
====================
*/

.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    clear: both;
    *zoom: 1;
}

/*
====================
Rows
====================
*/

.row,
.row-alt {
    min-width: 960px;
}
.row {
    background: #ffcc11;
    padding: 66px 0 44px 0;
}
.row-alt {
    background: #f00;
    background: -webkit-linear-gradient(to right, #a1d3bo, #ffcc11);
    background: -moz-linear-gradient(to right, #a1d3bo, #ffcc11);
    background: linear-gradient(to right, #a1d3bo, #ffcc11);
    padding: 44px 0 22px 0;
}

/*
==============================
Navigation
==============================
*/

.nav {
    text-align: center;
}
.nav li {
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
}
.nav li: last child {
    margin-right: 0;
}
.navbar {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background: yellow;
    width: 100%;
    max-width: 768px;
    border-radius: 5px;
    overflow: hidden;
    position: fixed;
    top: 45px;
    right: auto;
    bottom: auto;
    left: 50%;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.5);
}
.navbar li {
    display: inline-block;
    padding: 15px 18px;
}
.navbar li.right {
    float: right;
}
.navbar li a {
    color: #f00;
    text-decoration: none;
    font-size: 16px;
}
.navbar li a span.menu {
    display: block;
    width: 25px;
    height: 3px;
    background: #e8f1f2;
    position: relative;
    top: 7px;
}
.navbar li a span.menu::before,
.navbar li a span.menu::after {
    content: '';
    display: block;
    width: 25px;
    height: 3px;
    background: #e8f1f2;
    position: absolute;
    left: 0;
    right: auto;
    bottom: auto;
}
.navbar li a span.menu::before {
    top: -8px;
}
.navbar li a span.menu::after {
    top: 8px;
}

/*
=================================
Primary Footer
=================================
*/

.primary-footer {
    color: midnightblue;
    font-size: 14px;
    padding-bottom: 44px;
    padding-top: 44px;
    align-content: center;
}
.primary-footer {
    float: left;
    font-weight: 400;
}

/*
===========================
comment form
===========================
*/

form {
    margin-bottom: 22px;
}
.register-group label {
    color: #ffcc11;
    cursor: pointer;
    font-weight: 400;
}
.register-group input,
.register-group select,
.register-group textarea {
    border: 1px solid #ffcc11;
    border-radius: 5px;
    color: #f00;
    display: block;
    margin: 5px 0 27px 0;
    padding: 5px 8px;
}
.register-group input,
.register-group textarea {
    width: 100%;
}
.register-group select {
    height: 34px;
    width: 60px;
}
.register-group textarea {
    height: 78px;
}

/*
  ========================================
  Buttons
  ========================================
*/

.btn {
    border-radius: 5px;
    color: #ffcc11;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    letter-spacing: .5px;
    margin: 0;
    text-transform: uppercase;
}
.btn-default {
    border: 0;
    background: #f00 padding: 11px 30px;
    font-size: 14px;
}
.btn-default:hover {
    background: #77a198;
}
.btn-alt {
    border: 1px solid #fff;
    padding: 10px 30px;
}
.btn-alt:hover {
    background: #fff;
    color: #ffcc11;
}
